.DS_Store
ROADMAP.md
/resources/config.edn
/resources/public/js/**
/resources/public/css/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.#*
