{:system "heroicc"
 :region "us-east-2"
 :app-name "heroicc"
 :allow [heroicc.web.server/app]
 :lambdas {:web {:fn heroicc.web.server/app
                 :integration :api-gateway/proxy
                 :description "heroi.cc web app"}}}
