{:app-name "heroicc"
 :allow [heroicc.web.server/app]
 :lambdas {:web.router {:fn heroicc.web.server/app
                        :integration :api-gateway/proxy
                        :description "Web app"}}}
